<ion-header>

  <ion-navbar>
    <ion-title>{{model.marca}} {{model.modelo}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item>
    <div text-center>
      <h1>{{model.marca}} {{model.modelo}}</h1>
    </div>
    <ion-item class="myphoto">
      <img id = "carimg">
    </ion-item>
    <div cards>

      <div class="grid-full">
        <ion-row>
          <ion-col>
            <ion-card>
              <h1>{{model.vendedor}}</h1>
              <p>Vendedor</p>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card>
              <h1>{{model.precio}}</h1>
              <p>Precio</p>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card>
              <h1>{{model.combustible}}</h1>
              <p>Combustible</p>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card *ngIf='this.wherefrom == "/sells"'>
              <h1>{{model.fecha_mat}}</h1>
              <p>F. Matriculación</p>
            </ion-card>
            <ion-card *ngIf='this.wherefrom == "/rents"' >
              <h1>{{model.fecha_mat}}</h1>
              <p>F. Límite</p>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card>
              <h1>{{model.kms}}</h1>
              <p>Kilómetros</p>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card>
              <h1>{{model.descripcion}}</h1>
              <p>Descripción</p>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>

    </div>
  </ion-item>
  <div text-center>
    <button ion-button *ngIf='this.wherefrom == "/sells"' icon-right (click)="comprar(id, '/sells')">Comprar
      <ion-icon name="ios-cash-outline"></ion-icon>
    </button>
    <button ion-button *ngIf='this.wherefrom == "/rents"' icon-right (click)="comprar(id, '/rents')">Alquilar
      <ion-icon name="ios-cash-outline"></ion-icon>
    </button>
  </div>
    <button ion-button color='primary' icon-right *ngIf='this.wherefrom == "/sells"' (click)="comprar(id, '/sells')">Comprar
      <ion-icon name="ios-cash-outline"></ion-icon>
    </button>
    <button ion-button color='primary' icon-right *ngIf='this.wherefrom == "/rents"' (click)="comprar(id, '/rents')">Alquilar
      <ion-icon name="ios-cash-outline"></ion-icon>
    </button>
</ion-content>
