<ion-header>

  <ion-navbar>
    <ion-title>{{model.marca}} {{model.modelo}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item>
    <h1>{{model.marca}} {{model.modelo}}</h1>
    <ion-item class="myphoto">
      <img id = "carimg">
    </ion-item>
    <p>De: {{model.vendedor}}</p>
    <p>Precio: {{model.precio}}</p>
    <p>Combustible: {{model.combustible}}</p>
    <p>Kms: {{model.kms}}</p>
    <p *ngIf='this.wherefrom == "/sells"'>Fecha de matriculación: {{model.fecha_mat}}</p>
    <p *ngIf='this.wherefrom == "/rents"'>Fecha límite: {{model.fecha_lim}}</p>
    <p>Descripción: {{model.descripcion}}</p>
    <p>Publicado el {{model.fecha_pub}}</p>
  </ion-item>
  <div text-center>
    <button ion-button color='primary' icon-right *ngIf='this.wherefrom == "/sells"' (click)="comprar(id, '/sells')">Comprar
      <ion-icon name="ios-cash-outline"></ion-icon>
    </button>
    <button ion-button color='primary' icon-right *ngIf='this.wherefrom == "/rents"' (click)="comprar(id, '/rents')">Alquilar
      <ion-icon name="ios-cash-outline"></ion-icon>
    </button>
  </div>
</ion-content>
