
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{userData.name}}'s Profile</ion-title>
    <ion-buttons end ion-button>
      <button ion-button (click)="editProfile()">
        <ion-icon name="ios-brush"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <!--Aqui tendriamos que recuperar la información del perfil de *, sus coches ,comentarios y lo que coño -->
  <!--queramos que se muestre en el perfil de *-->
  <ion-item class="myphoto">
    <img id="myimg">
  </ion-item>
  <ion-item>
    <h2>{{userData.name}}</h2>
  </ion-item>
  <div class="logOutbutton">
    <button ion-button round color="danger" icon-right (click)="cerrarSesion()">
      Cerrar sesión
      <ion-icon name="ios-log-out"></ion-icon>
    </button>
  </div>
  <h1>Historial</h1>
  <ion-list>
    <ion-list-header>
      VENTAS
    </ion-list-header>
    <ion-item *ngFor="let item of sell">
      <ion-avatar item-start>
        <img id={{item.id}}>
      </ion-avatar>
      <h2>{{item.marca}} {{item.modelo}}</h2>
      <p>De: {{item.vendedor}}</p>
      <p>Precio: {{item.precio}}</p>
    </ion-item>
    <ion-list-header>
      ALQUILERES
    </ion-list-header>
    <ion-item *ngFor="let item of rent">
      <ion-avatar item-start>
        <img id={{item.id1}}>
      </ion-avatar>
      <h2>{{item.marca}} {{item.modelo}}</h2>
      <p>De: {{item.vendedor}}</p>
      <p>Precio: {{item.precio}}</p>
    </ion-item>
  </ion-list>

</ion-content>
